h2 {
    text-align: center;
    margin: 36px 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-img-top {
    height: 286px;
    object-fit: cover;
}

header {
    background-color: #fdf0d2;
    padding: 100px 0;
    position: relative;
}

.logo {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 40px;
}

.nav-link {
    font-size: 24px;
    color: #333;
}

