body {
    margin: 0;
    font-family: "Montserrat", "Arial";
}

.profile-container {
    display: flex;
    background-color: pink;
}

.posts-container {
    flex-grow: 1;
    padding: 10px;
}


.userpic-container { 
    flex-basis: 200px;  
    text-align: center;
    border-left: 4px dotted black;
    padding: 10px;
}

.userpic {
    width: 180px;
}

.posts-container h2 {
    text-align: center;
}
    
    
.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
    
.post-item {    
    flex-basis: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}